[submodule "targets/tivac-launchpad/tivac-core"]
	path = targets/tivac-launchpad/tivac-core
	url = https://github.com/energia/tivac-core.git
[submodule "lib/Keypad"]
	path = lib/Keypad
	url = https://github.com/Chris--A/Keypad.git
[submodule "lib/PN532"]
	path = lib/PN532
	url = https://github.com/londonhackspace/PN532.git
[submodule "lib/Adafruit_CharacterOLED"]
	path = lib/Adafruit_CharacterOLED
	url = https://github.com/technobly/Adafruit_CharacterOLED/
[submodule "lib/HttpClient"]
	path = lib/HttpClient
	url = https://github.com/zlalanne/HttpClient.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "targets/stm32/Arduino_Core_STM32"]
	path = targets/stm32/Arduino_Core_STM32
	url = https://github.com/stm32duino/Arduino_Core_STM32.git
