[submodule "targets/tivac-launchpad/tivac-core"]
	path = targets/tivac-launchpad/tivac-core
	url = https://github.com/energia/tivac-core.git
[submodule "lib/MySQL_Connector_Arduino"]
	path = lib/MySQL_Connector_Arduino
	url = https://github.com/ChuckBell/MySQL_Connector_Arduino.git
[submodule "lib/Keypad"]
	path = lib/Keypad
	url = https://github.com/Chris--A/Keypad.git
[submodule "lib/PN532"]
	path = lib/PN532
	url = git@github.com:londonhackspace/PN532.git
[submodule "lib/Adafruit_CharacterOLED"]
	path = lib/Adafruit_CharacterOLED
	url = https://github.com/ladyada/Adafruit_CharacterOLED.git
[submodule "lib/HttpClient"]
	path = lib/HttpClient
	url = https://github.com/zlalanne/HttpClient.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
