language: cpp

env:
  - OPTIONS=-DCMAKE_TOOLCHAIN_FILE=../targets/tivac-launchpad/EK-TM4C1294XL.cmake
  - OPTIONS=-DCMAKE_TOOLCHAIN_FILE=../targets/stm32/STM32H743ZI.cmake
  - HOST=true OPTIONS=

cache:
  directories:
    - toolchain

install:
  - ./getToolchain.sh
    if: not env(HOST) = true

before_script:
  - mkdir build
  - cd build
  - cmake ..  $OPTIONS

jobs:
  include:
    - stage: build
      script: make
    - stage: test
      if: env(HOST) = true
      script:  make test